body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.TextoCarlos{
background-color: rgb(50, 127, 195);
font-size: 2rem;
border-radius: 2rem;
}

.Carlos{
  background-color: greenyellow;
  font-size: 3rem;
  text-align: center;
  border-radius: 2rem;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

